<div id ="search" class="search-bar">
		<div class="search-bar-header">
			<label>Yummy</label>
			<ul class="social-bar">
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
			<ul class="menu-bar">
				<li class="menu-button">
					<a href="#">CONTACT</a>
				</li>
				<li class="menu-button">
					<a href="#">ABOUT</a>
				</li>
			</ul>
		</div>
		<div class="search-input">
			<div class="divider"></div>
			<input value="la haleala prin cluj"></input>
			<button></button>
		</div>
		<div class="search-bar-footer">
			<ul class="search-filters">
				<li>
					<input type="checkbox" class="css-checkbox" name="sex-checkbox" id="sex-checkbox"></input>
					<label for="sex-checkbox" class="css-label">SEX</label>
				</li>
				<li>
					<input type="checkbox" class="css-checkbox" name="drink-checkbox" id="drink-checkbox"></input>
					<label for="drink-checkbox" class="css-label">DRINK</label>
				</li>
				<li>
					<input type="checkbox" class="css-checkbox" name="food-checkbox" id="food-checkbox"></input>
					<label for="food-checkbox" class="css-label">FOOD</label>
				</li>
			</ul>
		</div>				
</div><!--end search bar-->	
<div class="main-container">
	<div class="left-container">
		<section class="top">
			<div class="images"></div>
			<tabset class="menu-bar">
			    <tab heading="PRESENTATION">
    	 			<article>
						<header>La matusica</header>
						<aside class="element-bar">
							<ul class="rating-stars">
								<li></li>
								<li></li>
								<li class='red'></li>
								<li class='red'></li>
								<li class='red'></li>
							</ul>
							<ul class="social-bar">
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
								<li><a href="#"></a></li>
							</ul>
						</aside>
						<p>
							"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
						</p>
					</article><!--end article -->
			    </tab>
			    <tab heading="DETAILS"></tab>
			    <tab heading="DETAILS"></tab>
			    <tab heading="DETAILS"></tab>
		    </tabset>
		</section><!--end top section-->
		<section class="map">
			<div class="header">
				<div class="address" ng-controller="TypeaheadCtrl">
					<div class="marker"></div>
					<label>Dorobantilor 48, CLUJ NAPOCA</label>			
					<input ng-model="asyncSelected" value="" typeahead = "address for address in getLocation($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations"></input>
				</div>
				<button class="location-button">
					<label>Change Location</label>
					<div class="pen-icon"></div>
				</button>
			</div>
			<div id="map-canvas">
			</div>
		</section><!--end map-canvas section-->
	</div><!--end left container-->

	<aside class="right-container">
		<ul class="restaurant-list">
			<li>
				<section>
					<header><a href="">La matusica</a></header>
					<ul class="rating-stars">
						<li></li>
						<li></li>
						<li class='red'></li>
						<li class='red'></li>
						<li class='red'></li>
					</ul>
				</section>
			</li>
			<li class="selected">
				<section>
					<header><a href="">La matusica</a></header>
					<ul class="rating-stars">
						<li></li>
						<li></li>
						<li class='red'></li>
						<li class='red'></li>
						<li class='red'></li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<header><a href="">La matusica</a></header>
					<ul class="rating-stars">
						<li></li>
						<li></li>
						<li class='red'></li>
						<li class='red'></li>
						<li class='red'></li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<header><a href="">La matusica</a></header>
					<ul class="rating-stars">
						<li></li>
						<li></li>
						<li class='red'></li>
						<li class='red'></li>
						<li class='red'></li>
					</ul>
				</section>
			</li>
			<li>
				<section>
					<header><a href="">La matusica</a></header>
					<ul class="rating-stars">
						<li></li>
						<li></li>
						<li class='red'></li>
						<li class='red'></li>
						<li class='red'></li>
					</ul>
				</section>
			</li>
		</ul>
	</aside><!--end right container-->
</div><!--end main container-->