<div class="main-container">
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
	</div>
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
	</div>
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
	</div>
	<div>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
		<img class="no-hovering" src="images/fast-food.jpg"/>
	</div>
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>		
	</div>
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
	</div>
	<div>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
		<img src="images/fast-food.jpg"/>
	</div>
</div>
<div id ="search" class="search-bar">
		<div class="search-bar-header">
			<label>Yummy</label>
			<ul class="social-bar">
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
			<ul class="menu-bar">
				<li class="menu-button">
					<a href="#">CONTACT</a>
				</li>
				<li class="menu-button">
					<a href="#">ABOUT</a>
				</li>
			</ul>
		</div>
		<div class="search-input">
			<div class="divider"></div>
			<input value="la haleala prin cluj"></input>
			<button></button>
		</div>
		<div class="search-bar-footer">
			<ul class="search-filters">
				<li>
					<input type="checkbox" class="css-checkbox" name="sex-checkbox" id="sex-checkbox"></input>
					<label for="sex-checkbox" class="css-label">SEX</label>
				</li>
				<li>
					<input type="checkbox" class="css-checkbox" name="drink-checkbox" id="drink-checkbox"></input>
					<label for="drink-checkbox" class="css-label">DRINK</label>
				</li>
				<li>
					<input type="checkbox" class="css-checkbox" name="food-checkbox" id="food-checkbox"></input>
					<label for="food-checkbox" class="css-label">FOOD</label>
				</li>
			</ul>
		</div>				
</div><!--end search bar-->	