<div class="left-container" id="loadmap">
    <section class="top">
               <div  ng-controller="ModalDemoCtrl">
                   
  <script type="text/ng-template" id="myModalContent.html">
        
        <div class="modal-header">
            <h4 class="modal-title blockquote-reverse" id="myModalLabel">Ownership</h4>
        </div>
        <form name="userForm"  ng-submit="submit({{ place.placeid }})" novalidate >
                <div class="modal fade" id="formOwner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                </div>
                <div class="modal-body">
                        <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.username.$pristine }">
                            <label for="name">Name*</label>
                            <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="3" ng-maxlength="30" placeholder="Enter your full name..." required>
                            <p ng-show="userForm.name.$error.minlength" class="help-block">Name is too short. Please enter min 3 characters.</p>
                            <p ng-show="userForm.name.$error.maxlength" class="help-block">Name is too long.</p>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                            <label for="email">Email*</label>
                            <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Enter your email address..." required>
                            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Your email address is invalid. Please enter a valid email address.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : userForm.tel.$invalid && !userForm.tel.$pristine }">
                            <label for="tel" >Tel:*</label>
                            <div class="input-group">
                            <span class="input-group-addon">+4</span>
                            <input type="number" name="tel" class="form-control" ng-model="user.tel" ng-minlength="10" ng-maxlength="10" placeholder="Enter your Contact Number..." >
                        </div>
                            <p ng-show="userForm.tel.$error.number" class="help-block">Please enter only numbers.</p>
                            <p ng-show="userForm.tel.$error.minlength" class="help-block">Number is too short. Please enter a valid phone number.</p>
                            <p ng-show="userForm.tel.$error.maxlength" class="help-block">Number is too long. Please enter a valid phone number.</p>
                            <div class="help-block with-errors"></div>
                        </div>

               </div>
                        <blockquote class="blockquote-reverse">
                            <p>Aceste date sunt private.</p>
                            <p>Va vom contacta pentru a va acorda drepturi de administrare a Place-ului.</p>
                            <p>Va multumim!</p>
                        </blockquote>
               <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
                     <button name="add" type="submit" value="Submit" ng-disabled='userForm.$invalid' class="btn btn-primary" >Send</button>
                </div>
        
            </form>

  </script>
            <div class="ownership"  ng-click="open()" ></div>
    </div>
       

        <div class="tabbable menu-bar">
            <ul class="nav nav-tabs">
         {% if app.session.get('aux')=='true' %}
                <li ><a href="#details" data-value='#details' data-toggle="tab">DETAILS</a></li>
         {%else%}
                <li class="active"><a href="#details" data-value='#details' data-toggle="tab">DETAILS</a></li>
         {%endif%}
                <li><a href="#photos" data-value='#photos' data-toggle="tab">PHOTOS</a></li>
                <li><a href="#ratings" data-value='#ratings' data-toggle="tab">RATINGS</a></li>
                <li><a href="#reviews" data-value='#reviews' data-toggle="tab">REVIEWS</a></li>
                <li><a href="#promotions" data-value='#promotions' data-toggle="tab">PROMOTIONS</a></li>
         {% if app.session.get('aux')=='true' %}
                <li class="active"><a href="#events" data-value='#events'data-toggle="tab">EVENTS</a></li>
         {%else%}
                <li><a href="#events" data-value='#events' data-toggle="tab">EVENTS</a></li>
         {%endif%}
                
            </ul>
            <div class="tab-content" style="padding:0px; border:0px">
         {% if app.session.get('aux')=='true' %}
                <div id="details" class="tab-pane">
                {% include 'BundlePlacesBundle:Places/Tabs:presentation.html.twig' with {'place':place.placeDetails, 'placePhotos' : place.firstPhoto } %}
                </div><!-- /.panel1 -->
         {%else%}
                <div id="details" class="tab-pane active">
                {% include 'BundlePlacesBundle:Places/Tabs:presentation.html.twig' with {'place':place.placeDetails, 'placePhotos' : place.firstPhoto } %}
                </div><!-- /.panel1 -->
         {%endif%}
                <!-- Photos section -->
                <div id="photos" class="tab-pane">
                </div><!-- /.pane2 -->

                <!-- Vote section -->
                <div id="ratings" class="tab-pane">
                </div><!-- /.pane3 -->

                <div id="reviews" class="tab-pane">
                </div><!-- /.panel4 -->

                <div id="promotions" class="tab-pane">
                </div><!-- /.panel5 -->
         {% if app.session.get('aux')=='true' %}
                <div id="events" class="tab-pane active">
                     {% include 'BundlePlacesBundle:Places/Tabs:events.html.twig' with { 'place':place, 'isowner' : isowner } %}
                </div><!-- /.panel6 -->

         {% else %}
                <div id="events" class="tab-pane">
                     {% include 'BundlePlacesBundle:Places/Tabs:events.html.twig' with { 'place':place, 'isowner' : isowner } %}
                </div><!-- /.panel6 -->
         {% endif %}
            </div><!-- /.tab-content -->
        </div><!-- /.tabbable -->
 
    </section>
            
            <div>
                 <map-test lat="{{place.placeDetails.placelat}}" long="{{place.placeDetails.placelng}}"  destination="Calea Dorobantilor 48, Cluj Napoca, Romania" type="roadmap" marker-content="Toll Brothers"></map-test>
            </div>
          
   
</div>

