body {
	overflow: hidden;
}

@media all and (max-width: 780px){
	body {
		overflow: auto;
	}	
}

/*Background images*/
.main-container > div > img {
	/*IE 8 Opacity Filer*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	opacity: 0.3;
	height: 179px;
	width: 252px;
	margin: 3px 4px;
}

.main-container {
	width: 2640px;
	height: 1267px;
	margin-top: -646px;
	top: 50%;
	position: absolute;
}

/*SEARCH BAR*/
#search{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 15px;
	margin: auto;
	width: 83%;
}