.results-header{
    background:#ccc;
    border-radius:5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 10px;
}
.results-header-msg {
    padding-left: 10px;
}
.place {
    /*clear:left;*/
    border-radius: 5px;
    background: bisque;
    margin-bottom: 10px;
    padding:5px;
}
.place p {
    text-align: justify;
}
.place img {

}
.place .signature {

}

#place-div {
    border:1px solid black;
    border-radius:5px;
    margin-bottom: 10px;
    padding:5px;
    

}
.swap {
    background: aqua;
}
.sideHeader {
    padding:2px;
    background:#eee;
}


/* flip panels */
.flip {
    margin-bottom: 2px;
    background-color:#e5eecc; 
    border:1px solid black; 
    padding:3px;
    cursor: pointer;
}
.panel {
    border:0px solid black;
    display:none;
}
#usersPoll{
    border-radius:5px;
    background: bisque;
    padding: 5px;
}

.loading {
    background:url('http://proiecte/MyProject/web/bundles/bundleproject/images/load.gif') no-repeat right center;
}

.commentodd {
    padding:5px;
    background: #eee;
}
.commenteven {
    padding:5px;
}

/* NEW */
.submit-button{
    padding: 5px; 
    border-radius:5px; 
    width:170px;
}
.search-input{
    padding:5px;
    border-radius:5px;
    width:70%;
}
.main-header-text{
    font-weight: bold;
    font:20px Palatino Linotype; 
    color: #333333;
}
.place-map{
    width:625px;
    height:380px; 
    border:1px solid black; 
    border-radius:5px
}
.placeName a {
    text-decoration: none;
}
.placeName a:hover {
    font-weight: bold;
}

.com-div{
    height: 250px; 
    overflow: scroll; 
    overflow-x: hidden

}
.load-more-button{
    padding:10px; 
    border: 2px solid black; 
    border-radius: 5px; 
    background: #6d6; 
    font-weight: bold; 
    width:450px; 
    margin-bottom: 10px;
}
.tab-list li{
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 10px;
    border:1px solid black;
    cursor: pointer;
    background: #e5eecc;
}


