/*FONTS*/
@font-face{
  font-family:'DINNeuzeitGrotesk';
  src: url('../fonts/DINNeuzeitGrotesk-BoldCond-Regular.ttf'); /* here you go, IE */
}

@font-face{
  font-family:'Lao UI';
  src: url('../fonts/LaoUI.ttf'); /* here you go, IE */
}

@font-face{
  font-family:'Lato Black';
  src: url('../fonts/Lato-Black.ttf'); /* here you go, IE */
}

/*Search bar*/
#search{
	margin: auto;
	height: 172px;
	background: white;
	min-width: 780px;
}

/*Search bar header*/
.search-bar-header{
	height: 30px;
	margin-top: 5px;
}

.search-bar-header label a{
	float:left;
	color: red;
	font-family: 'DINNeuzeitGrotesk';
	font-size: 22px;
	margin-left: 35px;
	margin-top: -10px;
        text-decoration: none;
}

.search-bar-header ul{
	float:right;
	list-style: none;
	margin-right: 20px;
	padding-left: 0;
}

.search-bar-header ul li{
	float:right;
}

.search-bar-header .social-bar{
	padding-left: 0;
}

.search-bar-header .social-bar li{
	width: 20px;
	height: 20px;
	margin-left: 3px;
}

.search-bar-header .social-bar li a{
	display: block;
	width: 20px;
	height: 20px;
	background: url('../images/facebook.png') no-repeat;
}

.search-bar-header .menu-bar li{
	width: 100px;
	background: rgb(238,238,238);
	margin-left: 5px;
}

.search-bar-header .menu-bar li a{
	display: block;
	text-decoration: none;
	text-align: center;
	color: rgb(119,119,119);	
}

/*Search bar input*/

.search-bar .search-input .divider{
	height: 140px;
	width: 13px;
	background: rgb(238,238,238);
	float: left;
	margin-top: -50px; 
	
}

.search-bar .search-input input{
	height: 90px;
	width: 94%;
	border-top: solid 15px red;
	border-bottom: solid 15px red;
	border-left: solid 25px red;
	font-size: 32px;
	color: rgb(119,119,119);
	padding-left: 25px;
}

.search-bar .search-input button{
	float: right;
	position: relative;
	height: 123px;
	width: 106px;
	background: url('../images/search-icon.png') no-repeat;
	margin-left: -123px;
	margin-right: 0;
	border: none;
}

/*Search bar footer*/

.search-bar-footer ul li{
	float:right;
	list-style: none;
	color: rgb(90,90,90);
	font-family: arial;
	margin-left: 12px;
	margin-top: -9px;
	position: relative;
}

.search-bar-footer ul li:first-child{
	margin-right: 60px;
}

/*CUSTOM CHECKBOX*/
input[type=checkbox].css-checkbox {
	display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:18px;
	height:32px; 
	display:inline-block;
	line-height:48px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:18px;
	font-family: arial;
	font-weight: bold;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -33px;
}

label.css-label {
	background-image:url('../images/red-checkbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.admin-loged-bar{
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: white;
}

#header-section{
  margin-top:61px;  
};
/*******/


