/* Forms */
form.global_forms { 
    font-size: 14px; 
    font-family: Tahoma; 
}
form.global_forms div { 
    /*border:1px solid black; */
    margin-bottom: 10px;
}
form.global_forms label { 
    float: left; margin-right: 10px; text-align: right; width: 80px;
}
form.global_forms input[type="text"] {
    padding: 3px;
    width:100%;
}
form.global_forms textarea {
    width:400px;
    height: 80px;
    padding: 5px;
    resize: none;

}
form.global_forms input[type="submit"] {
    margin-left:90px;
    border-radius: 5px;
    padding:5px;
    width: 120px;
    font-family: Tahoma;
    font-weight: bold;
}

