{# src/Bundle/ProjectBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('comment_create', { 'place_id' : comment.place.id } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p><input type="submit" value="Submit"></p>
    {#<hr style="padding-bottom: 60px;"/>#}
</form>