<div class="admin-loged-bar" id="scroll">

   {% if placesList is iterable %}
    <b>Go to place:</b> <select onchange="window.location.href='home?input='+$($(this)).val();">
        <option> Select a place... </option>
    {% for place in placesList %}
        {% for places in place %}
        <option value="{{ places|url_encode }}"> {{ places }} </option>

        {% endfor %}
    {% endfor %}
    </select>
    {% else %}
        <p> There is no place asignet to your user. Use the menu to claim your place.</p>
    {% endif %}
</div>
