
<b>Places:</b>
{% if place is empty %}
    -
    <br/>
{% else %}
{% for item in place %}
<div class="show" align="left">
{{loop.index}}.&nbsp;<span class="name">{{item.placeName}}</span><br/>
</div>
{% endfor %}
{% endif %} 
<b>Address:</b>

<div class="show" align="left">
{#<span class="name">{{placesAdd.name}}</span><br/>#}
</div>
