{# errorPage  #}
{% extends 'BundleProjectBundle::layout.html.twig' %}

{% block title %} Error 404 {% endblock %}

{% block body %} 
    <article>
        <hgroup>
            <h1>Error page</h1>
            <h2>Error message</h2>
        </hgroup>
        
        <p>error - 404 not found<p>   
    </article>
{% endblock %}
